cuerpo
{
    fondo : # 1e1f24 ;
    color : # 333 ;
    alinear texto : centro;
    Familia tipográfica : Arial;
    tamaño de fuente : 16 px ;
    margen : 0 ;
    acolchado : 0 ;
}

# cabecera
{
    fondo : # 37488b ;
    caja-sombra : 0 px  2 px  20 px  0 px  rgba ( 0 , 0 , 0 , 0.5 );
    color : blanco
    peso de fuente : negrita;
    margen : 0 ;
    acolchado : 0,5 em ;
}

# cabecera  # logo
{
    ancho : 20 px ;
    alineación vertical : medio;
}

# cabecera  # lema
{
    relleno : 0  0  0  1 em ;
    peso de fuente : normal;
    tamaño de fuente : 0.8 em ;
}

# contenedor
{
    ancho : 70 % ;
    acolchado : 0 ;
    alineación de texto : izquierda;
    borde : 1 px sólido # DDD ;
    margen : 0 automático;
}

# contenedor  h1
{
    tamaño de fuente : 20 px ;
}
# post
{
    fondo : blanco;
    relleno : 1 em ;
}

# pie de página
{
    fondo : # 777 ;
    color : blanco
    alinear texto : centro;
    acolchado : 0,5 em ;
}